code.highlighter-rouge {
  color: $contrast;
}

span {
  &.highlight {
    display: inline-block;
    background-color: rgba(255, 204, 0, .2);
  }

  &.underlined {
    text-decoration: underline solid;
  }

  &.strike-through {
    text-decoration: line-through solid;
  }
}

a.external {
  display: inline-flex;
  &:after {
    content: url("/assets/images/external-link.svg");
  }
}

div.info-box {
  background-color: rgba(255, 204, 0, .2);
  border-radius: 0.2em;
  padding: 0.2em 1em;
}

blockquote {
  p {
    border-left: 5px solid $light;
    padding-left: 1.5em;
  }
}

div.centered {
  text-align: center;
}

.resume-container {
  .skill {
    .skill-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .experience {

  }

  .education {

  }
}