@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Roboto Mono';
  line-height: 1.5em;
  color: #2a2a2e;
}

b {
  font-weight: bold;
}

.container {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}

.vertically-center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .name {
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3rem;
  }
}

.contact-icons {
  .social-icon {
    display: inline-block;
    width: 20px;
    height: auto;
    opacity: .5;
    margin-right: 5px;
  }
}