@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$base-color: #2a2a2e;
$highlight-color: #c9c5c5;
$highlight-hover-color: #aaa6a6;

body {
  font-family: 'Roboto Mono';
  line-height: 1.5em;
  color: $base-color;
}

a {
  color: $base-color;

  &.tag {
    display: inline-block;
    border-radius: 0.3em;
    padding: 0.1em;
    text-decoration: none;
    background-color: $highlight-color;

    &:hover {
      background-color: $highlight-hover-color;
    }

    &:visited {
      color: $base-color;
    }
  }
}

.container {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}

.vertically-center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .name {
    align-self: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3rem;
  }
}

.contact-icons {
  .social-icon {
    display: inline-block;
    width: 20px;
    height: auto;
    opacity: .5;
    margin-right: 5px;
  }
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
}

.blog {
  a {
    text-decoration: none
  }

  .year {
    text-align: end;
  }

  ul {
    list-style-type: none;
  }

  .blog-title {

  }

  .blog-publish-date {
    color: $highlight-hover-color;
  }
}

.back {
  position: relative;
  right: 80px;
  text-decoration: none;
  color: $highlight-color;

  &:hover {
    color: $highlight-hover-color;
  }
}

.resume {
  margin-top: 3rem;
}