---
layout: default
---

<div class="container-index">
    <div class="content">
        <div class="name"><b>👋 Hi, I'm Aditya</b></div>
        <div>
            <p>
                I am a software engineer living in Bengaluru, India. I work for <a href="https://www.precisely.com/" target="_blank">Precisely</a> (formerly <a href="https://www.infogix.com/" target="_blank">Infogix</a>) where I spend most of my time
                writing JS to create frontend webapps. My other interests include data-intensive backend systems, distributed data systems and performant frontend web applications.
            </p>
            <p>When I am not coding, you will find me <a href="https://www.goodreads.com/review/list/40569939-aditya?shelf=currently-reading" target="_blank">reading books</a> on history or psychology. I also enjoy gardening and cooking.</p>
            <p>On this website you can find my personal <a href="/projects" class="tag">projects</a>, <a href="/blog" class="tag">blog</a> and updated
                <a href="/resume" class="tag">resume</a>. The blog has a <a href="/feed" class="tag">feed</a>, if you are interested in subscribing.
                You can also subscribe to my monthly tech <a href="https://adityaprasoon.substack.com/" target="_blank" class="tag">newsletter</a>.</p>
        </div>
        <div class="contact-icons">
            <a href="https://github.com/adityaprasoon" class="social-icon" target="_blank">
                <img src="./assets/images/GitHub-icon.svg" alt="Github">
            </a>
            <a href="https://twitter.com/adityaprasoon21" class="social-icon" target="_blank">
                <img src="./assets/images/Twitter-icon.svg" alt="Twitter">
            </a>
            <a href="mailto:prasoonaditya@gmail.com" class="social-icon" target="_blank">
                <img src="./assets/images/Mail-icon.svg" alt="E-mail">
            </a>
            <a href="https://www.linkedin.com/in/adityaprasoon/" class="social-icon" target="_blank">
                <img src="./assets/images/Linkedin-icon.svg" alt="Linkedin">
            </a>
        </div>
    </div>
</div>